/* body {
	background-color:#6495ED;
} */

.navbar {
	border: 3px solid black;
	border-radius:5px;
}

header {
	background-color:white;
	Display:inline-block;
	height : 20px;
	width: 900px;
	border: 3px solid black;
	border-radius:5px;
}

#BoxAccueilRight {
	background-color:white;
	Display : inline-block;
	text-align:center;
	padding: 25px 25px 25px 25px;
	border: 3px solid black;
	height:600px;
	border-radius:5px;
}

#BoxAccueilLeft {
	background-color:white;
	Display : inline-block;
	text-align:center;
	padding: 25px 25px 25px 25px;
	border: 3px solid black;
	height:600px;
	border-radius:5px;
}

#BoxRechercher  {
	text-align:left;
	margin:50px 0px 10px 0px;
	width:300px;
}
	
#Title {
	font-size: 30px;
	font-weight:bold;
	margin:10px 0px 10px 0px;
}

#Box {
	border: 3px solid black;
	border-radius:5px;
}

#Rechercher {
	text-align:left;
	font-size:20px;
	font-weight:bold;
	margin:10px 0px 10px 0px;
}

#Case {
	width:189px;
	margin-left:-25px;
	border: 3px solid black;
}

footer>p {
	text-align:center;
	margin-top:100px;
	border: 3px solid black;
	border-radius:5px;
	background-color:white;
	margin : 20px 50px 0px 50px;
}
